.button {
    @include b1;

    position: relative;

    display: grid;
    place-items: center;

    width: max-content;
    height: 4rem;
    overflow: hidden;

    color: var(--White, #FFF);
    background-color: var(--Red, #D42111);
    border-radius: 0.8rem;
    white-space: nowrap;

    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;

    @include breakpointMF(laptop) {
        height: 4.8rem;
        padding: 1.4rem 0rem;
    }

    &>span {
        transform: translateX(-2.4rem);
    }

    &>svg {
        position: absolute;
        left: 0;
        top: 50%;

        width: 2rem;
        height: 2rem;
        transform: translateX(-2.4rem) translateY(-50%);

        fill: var(--White, #fff);

        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease;

        @include breakpointMF(laptop) {
            left: 0;

            width: 2.4rem;
            height: 2.4rem;
        }
    }

    &>span {
        padding-inline: 4rem;

        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease;

        white-space: nowrap;

        &+svg {
            left: unset;
            right: 0;

            @include breakpointMF(laptop) {
                right: 0;
            }
        }
    }

    &.button--outlined {
        color: var(--Red, #D42111);

        background-color: transparent;
        border: 2px solid var(--Red, #D42111);

        &>svg {
            fill: var(--Red, #D42111);
        }

        @include hover {
            color: var(--Dark-red, #A50D0D);
            background-color: transparent;
            border-color: var(--Dark-red, #A50D0D);
        }
    }

    @include hover {
        background: var(--Dark-red, #A50D0D);

        &>span {
            transform: translateX(2.4rem);
        }

        &>svg {
            transform: translateX(2.4rem) translateY(-50%);
        }
    }
}
