.input-box {

    &>textarea,
    &>input {
        height: 100%;
        width: 100%;
        min-height: 4rem;

        padding: 0.8rem 1.6rem;

        background-color: var(--Light-Grey, #F2F2F2);
        border-radius: 0.8rem;
        border: 1px solid transparent;

        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease;

        @include breakpointMF(laptop) {
            height: 4.8rem;
            min-height: 4.8rem;
            padding: 1.2rem 2rem;
        }

        @include placeholder {
            color: var(--Grey-2, #B3B3B3);
        }

        &:is(:valid) {
            +input[type="reset"] {
                opacity: 1;
            }
        }

        &:focus {
            border-color: var(--Red, #D42111);
            caret-color: var(--Red, #D42111);
        }
    }

    &>textarea {
        resize: none;
        overflow: auto;
        outline: none;

        @include noScrollbar()
    }

    &.input-box--flex {
        display: flex;
        align-items: stretch;
        gap: 0.8rem;

        @include breakpointMF(laptop) {
            gap: 1.6rem;
        }
    }

    &__captcha {
        width: 12rem;

        background-color: lightgray;
        border-radius: 0.8rem;

        @include breakpointMF(laptop) {
            width: 14rem;
        }
    }
}
