.select {
    position: relative;
    z-index: 200;
    width: 100%;

    &__dropdown {
        position: absolute;
        top: calc(100% - 1px);

        overflow: hidden;
        display: none;

        width: 100%;
        padding-top: 0.8rem;

        @include breakpoint(tablet) {
            position: fixed;
            inset: 0;
            z-index: 4000;

            padding: 2.4rem 2.4rem 8rem;

            flex-direction: column;
            align-items: stretch;
            gap: 2.4rem;

            border-radius: 16px;
            background: var(--White, #FFF);
        }
    }

    &__title {
        @include h3;

        color: var(--Black, #141414);
    }

    &__accept {
        width: 100%;

        @include breakpointMF(laptop) {
            display: none;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .icon {
            width: 2rem;
            height: 2rem;

            fill: var(--Grey-2, #b3b3b3);
        }

        @include breakpointMF(laptop) {
            display: none;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        overflow: hidden;


        @include breakpointMF(laptop) {
            background-color: var(--White, #FFF);
            border-radius: 0.8rem;
        }

        @include breakpoint(tablet) {
            gap: 0.8rem;
            flex-grow: 1;
        }
    }

    &__item {
        &:not(:first-child) {
            .select__label {
                @include breakpointMF(laptop) {
                    border-top: 1px solid var(--Black-10, rgba(5, 4, 3, 0.10));
                }
            }
        }

        &--first-hidden {
            &:first-child {
                display: none;
            }
        }
    }

    &__label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.6rem;

        width: 100%;
        height: 4rem;
        padding: 0.8rem 1.6rem;
        transition: var(--transition);
        transition-property: background, border;
        cursor: pointer;

        &::after {
            position: absolute;
            top: 50%;
            right: 1.6rem;

            display: block;
            width: 2rem;
            height: 2rem;
            transform: translateY(-50%);

            border: 2px solid var(--Grey-2, #B3B3B3);
            border-radius: 100%;

            content: none;

            @include breakpoint(tablet) {
                content: "";
            }
        }

        @include breakpointMF(laptop) {
            height: 4.8rem;
            padding: 1.2rem 1.6rem;
        }

        @include breakpoint(tablet) {
            position: relative;
            border-radius: 8px;
            background-color: var(--Light-Grey, #F2F2F2);
        }

        &:has(input[type="radio"]:checked) {
            background-color: var(--Light-Grey, #F2F2F2);

            &::after {
                border-width: 0;
                background-image: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%3E%0A%20%20%3Crect%20width%3D%2220%22%20height%3D%2220%22%20rx%3D%2210%22%20fill%3D%22%23D42111%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M8.00006%2011.587L5.70106%209.29197L4.28906%2010.708L8.00206%2014.413L14.7081%207.70697L13.2941%206.29297L8.00006%2011.587Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        &>input[type="checkbox"],
        &>input[type="radio"] {
            @include visuallyHidden();
        }

        @include hoverActive() {
            background-color: var(--Light-Grey, #F2F2F2);
        }

        input[type="radio"],
        input[type="checkbox"] {
            &:checked {
                &~.select__tick {
                    opacity: 1;
                }
            }
        }
    }

    &__text {
        display: block;
        flex: 1 1 auto;
        color: var(--Black, #141414);
    }

    &__tick {
        display: none;
        flex-shrink: 0;

        width: 2.4rem;
        height: 2.4rem;

        fill: var(--Grey-1, #666);
        transition: var(--transition);
        transition-property: opacity;
        opacity: 0;

        @include breakpointMF(laptop) {
            display: block;
        }
    }

    &__current {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        width: 100%;
        height: 4rem;
        padding: 0.8rem 1.6rem;

        color: var(--Black, #141414);
        white-space: nowrap;

        background-color: var(--White, #FFF);
        border-radius: 0.8rem;

        @include breakpointMF(laptop) {
            height: 4.8rem;
            padding: 1.4rem 2rem;
        }

        &::after {
            position: absolute;
            top: 50%;
            right: 1.6rem;

            display: block;

            width: 2.4rem;
            height: 2.4rem;
            transform: translateY(-50%) rotate(0deg);

            background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20d%3D%22M7.70703%209.29297L12%2013.586L16.293%209.29297L17.707%2010.707L12%2016.414L6.29303%2010.707L7.70703%209.29297Z%22%20fill%3D%22%23B3B3B3%22%2F%3E%0A%3C%2Fsvg%3E");
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center;

            // opacity: 0.4;
            transition: transform var(--transition);
            content: "";
        }
    }

    &.select--open {
        z-index: 1000;

        .select__current {
            &::after {
                transform: translateY(-50%) rotate(180deg);
            }
        }

        .select__dropdown {
            display: block;

            @include breakpoint(tablet) {
                display: flex;
            }
        }

        .select__list {
            @include breakpointMF(laptop) {
                animation: slideDown 0.3s ease 0s 1 forwards;
            }
        }
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
