.simple-btn {
    @include b1;

    display: grid;
    place-items: center;
    grid-auto-flow: column;
    gap: 1.2rem;

    height: 4rem;
    padding: 1rem 1.2rem;

    color: var(--White, #FFF);
    background-color: var(--Red, #D42111);
    border-radius: 0.8rem;

    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;

    @include breakpointMF(laptop) {
        height: 4.8rem;
        padding: 1.4rem 1.6rem;
    }

    &.simple-btn--black {
        background-color: var(--Black, #141414);

        &:not(.simple-btn--icon) {
            @include hover {
                background-color: var(--White, #FFF);
                color: var(--Black, #141414);
            }
        }
    }


    &.simple-btn--icon {
        width: 4rem;
        height: 4rem;
        padding: 0;

        transition-property: all;
        transition-duration: 0.2s;
        transition-timing-function: ease;

        .icon {
            transition-property: all;
            transition-duration: 0.2s;
            transition-timing-function: ease;
        }

        .icon-active {
            opacity: 1;
        }

        .icon-close {
            opacity: 0;
        }

        &.simple-btn--active {
            .icon-active {
                opacity: 0;
            }

            .icon-close {
                opacity: 1;
            }

            &.simple-btn--black {
                background-color: var(--Light-Grey, #F2F2F2);

                .icon-close {
                    fill: var(--Black, #141414);
                }
            }
        }
    }

    &>svg {
        width: 2rem;
        height: 2rem;

        grid-column: 1 / 2;
        grid-row: 1 / 2;

        pointer-events: none;
    }

    &:not(.simple-btn--icon) {
        @include hover {
            background-color: var(--Dark-red, #A50D0D);
        }
    }
}
