{{#if discountCard}}
<div class="card card--discount">
    <div class="card__grid">
        <div class="card__top">
            <div class="card__picture">
                <picture>
                    <source type="image/webp" srcset="./img/carousel/wheel.webp" />
                    <img class="lazy" src="./img/carousel/wheel.png" alt="image">
                </picture>
            </div>
            <ul class="card__tags">
                <div class="card__tag card-feature card-feature--red">Хит</div>
                <div class="card__tag card-feature card-feature--green">Новинка</div>
            </ul>
            <ul class="card__controls">
                <li class="card__control">
                    <button type="button" class="card__card-checkbox card-checkbox">
                        <svg aria-hidden="true" class="card-checkbox__icon">
                            <use xlink:href="#bx-heart"></use>
                        </svg>
                    </button>
                </li>
                <li class="card__control">
                    <button type="button" class="card__card-checkbox card-checkbox">
                        <svg aria-hidden="true" class="card-checkbox__icon">
                            <use xlink:href="#bx-bar-chart"></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>

        <div class="card__bottom">
            <div class="card__center">
                <div class="card__prices">
                    <span class="card__actual-price">6 300</span>
                    <span class="card__discont-price">5 500</span>
                    <span class="card__old-price">6 300</span>
                </div>

                <a href="#" target="_blank" class="card__desc">
                    WESTLAKE SL309 185/75 R16C 104/102R
                </a>
            </div>

            <div class="card__chars">
                <div class="card__types">
                    <div class="card__type">Легкогрузовые</div>
                </div>

                <ul class="card__features">
                    <li class="card__feature card-feature card-feature--black">
                        <svg aria-hidden="true" class="icon">
                            <use xlink:href="#sun"></use>
                        </svg>
                    </li>
                    <li class="card__feature card-feature card-feature--orange">
                        <svg aria-hidden="true" class="icon">
                            <use xlink:href="#bx-fuel"></use>
                        </svg>
                        E
                    </li>
                    <li class="card__feature card-feature card-feature--blue">
                        <svg aria-hidden="true" class="icon">
                            <use xlink:href="#bx-rain"></use>
                        </svg>
                        B
                    </li>
                    <li class="card__feature card-feature card-feature--green">
                        <svg aria-hidden="true" class="icon">
                            <use xlink:href="#bx-volume"></use>
                        </svg>
                        70
                    </li>
                </ul>
            </div>

            <div class="card__rating card-rating" data-rating="4.5">
                <span class="card-rating__value">
                    4.5
                </span>
                <ul class="card-rating__stars">
                    <li class="card-rating__star"></li>
                    <li class="card-rating__star"></li>
                    <li class="card-rating__star"></li>
                    <li class="card-rating__star"></li>
                    <li class="card-rating__star"></li>
                </ul>

                <a href="#" class="card-rating__counter blue-link">
                    999
                    <span class="card-rating__counter-text">
                        отзывов
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
{{else}}
<div class="card ">
    <div class="card__grid">
        <div class="card__top">
            <div class="card__picture">
                <picture>
                    <source type="image/webp" srcset="./img/carousel/wheel.webp" />
                    <img class="lazy" src="./img/carousel/wheel.png" alt="image">
                </picture>
            </div>
            <ul class="card__tags">
                <div class="card__tag card-feature card-feature--red">Хит</div>
                <div class="card__tag card-feature card-feature--green">Новинка</div>
            </ul>
            <ul class="card__controls">
                <li class="card__control">
                    <button type="button" class="card__card-checkbox card-checkbox">
                        <svg aria-hidden="true" class="card-checkbox__icon">
                            <use xlink:href="#bx-heart"></use>
                        </svg>
                    </button>
                </li>
                <li class="card__control">
                    <button type="button" class="card__card-checkbox card-checkbox">
                        <svg aria-hidden="true" class="card-checkbox__icon">
                            <use xlink:href="#bx-bar-chart"></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>

        <div class="card__bottom">
            <div class="card__center">
                <div class="card__prices">
                    <span class="card__actual-price">6 300</span>
                    <span class="card__discont-price">5 500</span>
                    <span class="card__old-price">6 300</span>
                </div>

                <a href="#" target="_blank" class="card__desc">
                    WESTLAKE SL309 185/75 R16C 104/102R
                </a>
            </div>

            <div class="card__chars">
                <div class="card__types">
                    <div class="card__type">Легкогрузовые</div>
                </div>

                <ul class="card__features">
                    <li class="card__feature card-feature card-feature--black">
                        <svg aria-hidden="true" class="icon">
                            <use xlink:href="#sun"></use>
                        </svg>
                    </li>
                    <li class="card__feature card-feature card-feature--orange">
                        <svg aria-hidden="true" class="icon">
                            <use xlink:href="#bx-fuel"></use>
                        </svg>
                        E
                    </li>
                    <li class="card__feature card-feature card-feature--blue">
                        <svg aria-hidden="true" class="icon">
                            <use xlink:href="#bx-rain"></use>
                        </svg>
                        B
                    </li>
                    <li class="card__feature card-feature card-feature--green">
                        <svg aria-hidden="true" class="icon">
                            <use xlink:href="#bx-volume"></use>
                        </svg>
                        70
                    </li>
                </ul>
            </div>

            <div class="card__rating card-rating" data-rating="4.5">
                <span class="card-rating__value">
                    4.5
                </span>
                <ul class="card-rating__stars">
                    <li class="card-rating__star"></li>
                    <li class="card-rating__star"></li>
                    <li class="card-rating__star"></li>
                    <li class="card-rating__star"></li>
                    <li class="card-rating__star"></li>
                </ul>

                <a href="#" class="card-rating__counter blue-link">
                    999
                    <span class="card-rating__counter-text">
                        отзывов
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
{{/if}}
