<footer class="page-footer">
    {{> subscription }}

    <div class="page-footer__main">
        <div class="page-footer__site-container">
            <div class="page-footer__body">
                <a href="/" class="page-footer__logo page-footer__diieder logo">
                    <svg aria-hidden="true" class="icon">
                        <use xlink:href="#logo-2"></use>
                    </svg>
                </a>

                <div class="page-footer__menus">
                    <div class="page-footer__menu footer-menu page-footer__divider">
                        <h4 class="footer-menu__title">Каталог</h4>

                        <ul class="footer-menu__list">
                            <li><a href="#" class="footer-menu__link">Легковые шины</a></li>
                            <li><a href="#" class="footer-menu__link">Грузовые шины</a></li>
                            <li><a href="#" class="footer-menu__link">Легкогрузовые шины</a></li>
                            <li><a href="#" class="footer-menu__link">Сельскохозяйственные шины</a></li>
                            <li><a href="#" class="footer-menu__link">Сопутствующие товары</a></li>
                        </ul>
                    </div>

                    <div class="page-footer__menu footer-menu page-footer__divider">
                        <h4 class="footer-menu__title">Информация</h4>

                        <ul class="footer-menu__list">
                            <li><a href="./promos.html" class="footer-menu__link">Акции</a></li>
                            <li><a href="./payments.html" class="footer-menu__link">Оплата и Доставка</a></li>
                            <li><a href="./about.html" class="footer-menu__link">О нас</a></li>
                            <li><a href="./news.html" class="footer-menu__link">Новости</a></li>
                            <li><a href="./reviews.html" class="footer-menu__link">Отзывы</a></li>
                        </ul>
                    </div>
                </div>

                <div class="page-footer__contacts footer-contacts page-footer__divider">
                    <h4 class="footer-contacts__title">
                        Контакты
                    </h4>

                    <div class="footer-contacts__item">
                        <span class="footer-contacts__label">
                            Отдел продаж:
                        </span>

                        <a href="tel:+74957402019" class="footer-contacts__phone">
                            +7 (495) 740-20-19
                        </a>

                        <a href="#callback-form" class="footer-contacts__button simple-btn">
                            Заказать звонок
                        </a>
                    </div>

                    <div class="footer-contacts__item">
                        <span class="footer-contacts__label">
                            Почта:
                        </span>

                        <a href="mailto:opt@hochushinu.ru" class="footer-contacts__email blue-link">
                            opt@hochushinu.ru
                        </a>

                    </div>

                    <p class="page-footer__copyright">
                        Санкт-Петербург, Железнодорожный проспект, 20, Пн-Пт, с 10:00-18:00
                    </p>
                </div>

                <div class="page-footer__partners footer-partners">
                    <ul class="footer-partners__list">
                        <li>
                            <div class="footer-partners__partner">
                                <svg width="3.9rem" aria-hidden="true" class="icon">
                                    <use xlink:href="#partner-1"></use>
                                </svg>
                            </div>
                        </li>
                        <li>
                            <div class="footer-partners__partner">
                                <svg width="3.9rem" aria-hidden="true" class="icon">
                                    <use xlink:href="#partner-2"></use>
                                </svg>
                            </div>
                        </li>
                        <li>
                            <div class="footer-partners__partner">
                                <svg width="4.6rem" aria-hidden="true" class="icon">
                                    <use xlink:href="#partner-3"></use>
                                </svg>
                            </div>
                        </li>
                        <li>
                            <div class="footer-partners__partner">
                                <svg width="9.9rem" aria-hidden="true" class="icon">
                                    <use xlink:href="#partner-4"></use>
                                </svg>
                            </div>
                        </li>
                    </ul>

                    <a href="#" class="footer-partners__policy blue-link" target="_blank">
                        Политика персональных данных
                    </a>

                    <p class="page-footer__copyright footer-partners__copyright">
                        2022-2025 © Хочу шину — Интернет-магазин грузовых шин и дисков.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
