<div class="mobile-navigation">
    <div class="mobile-navigation__list">
        <a href="#" class="mobile-navigation__link icon-btn icon-btn--active">
            <svg aria-hidden="true" class="icon">
                <use xlink:href="#bx-home"></use>
            </svg>
            <span>
                Главная
            </span>
        </a>
        <a href="#" class="mobile-navigation__link icon-btn icon-btn--with-counter" data-counter="99">
            <svg aria-hidden="true" class="icon">
                <use xlink:href="#bx-bar-chart"></use>
            </svg>
            <span>
                Сравнение
            </span>
        </a>
        <a href="#" class="mobile-navigation__link icon-btn icon-btn--with-counter" data-counter="99">
            <svg aria-hidden="true" class="icon">
                <use xlink:href="#bx-heart"></use>
            </svg>
            <span>
                Избранное
            </span>
        </a>
        <a href="#" class="mobile-navigation__link icon-btn icon-btn--with-counter" data-counter="99">
            <svg aria-hidden="true" class="icon">
                <use xlink:href="#bx-basket"></use>
            </svg>
            <span>
                Корзина
            </span>
        </a>
        <a href="#" class="mobile-navigation__link icon-btn">
            <svg aria-hidden="true" class="icon">
                <use xlink:href="#bx-user"></use>
            </svg>
            <span>
                Войти
            </span>
        </a>
    </div>
</div>
