<div class="mobile-menu">
    <div class="mobile-menu__inner-wrapper">
        <div class="mobile-menu__body">
            <div class="mobile-menu__catalog-nav catalog-nav">
                <h3 class="catalog-nav__title">
                    Каталог
                </h3>
                <ul class="catalog-nav__list catalog-nav__list--column">
                    <li>
                        <a href="#" class="catalog-nav__link catalog-link catalog-link--red">
                            <span class="catalog-link__text">
                                Легковые шины
                            </span>
                            <svg aria-hidden="true" class="catalog-link__arrow">
                                <use xlink:href="#bx-chevron"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="catalog-nav__link catalog-link catalog-link--red">
                            <span class="catalog-link__text">
                                Легкогрузовые шины
                            </span>
                            <svg aria-hidden="true" class="catalog-link__arrow">
                                <use xlink:href="#bx-chevron"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="catalog-nav__link catalog-link catalog-link--red">
                            <span class="catalog-link__text">
                                Грузовые шины
                            </span>
                            <svg aria-hidden="true" class="catalog-link__arrow">
                                <use xlink:href="#bx-chevron"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="catalog-nav__link catalog-link catalog-link--red">
                            <span class="catalog-link__text">
                                Сельскохозяйственные шины
                            </span>
                            <svg aria-hidden="true" class="catalog-link__arrow">
                                <use xlink:href="#bx-chevron"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="catalog-nav__link catalog-link catalog-link--red">
                            <span class="catalog-link__text">
                                Сопутствующие товары
                            </span>
                            <svg aria-hidden="true" class="catalog-link__arrow">
                                <use xlink:href="#bx-chevron"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
