.grid-layout {
    width: 100%;
    padding-block: 2.4rem 3.6rem;

    @include breakpointMF(laptop) {
        padding-block: 6.4rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        row-gap: 2.4rem;
        width: 100%;

        @include breakpointMF(laptop) {
            display: grid;
            grid-template-columns: 41.4rem calc(100% - 41.4rem - 2.4rem);
            grid-template-areas: "gl-small gl-big";
            column-gap: 2.4rem;
            row-gap: unset;
        }
    }

    &__small-cell {
        grid-area: gl-small;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 2.4rem;
    }

    &__big-cell {
        grid-area: gl-big;

        &.grid-layout__big-cell--contents {
            @include breakpoint(tablet) {
                display: contents;
            }
        }
    }

    &__catalog-nav {
        width: 100%;
        max-width: 100%;
        // overflow: hidden;
    }

    &__product-ordering {
        position: sticky;
        top: 10rem;
        align-self: flex-start;

        @include breakpoint(tablet) {
            position: static;
            grid-area: product-order;
        }
    }

    &__product-info {
        @include breakpoint(tablet) {
            grid-area: product-info;
        }
    }

    &__product-about {

        @include breakpointMF(laptop) {
            margin-top: 2.4rem;
        }

        @include breakpoint(tablet) {
            grid-area: product-about;
        }
    }
}
