.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3500;

    display: none;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: rgba(20, 20, 20, 0.90);
    backdrop-filter: blur(5px);

    &.active {
        display: flex;

        .modal__inner-wrapper {
            animation: slideFromBottom 0.3s ease-out 0s 1 forwards;
        }
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__inner-wrapper {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        max-width: calc(100% - 3.2rem);
        padding-top: var(--header-height);

        @include breakpointMF(laptop) {
            max-width: 58rem;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        width: 100%;
        overflow: hidden;
        padding: 2.4rem 1.6rem;
        background-color: var(--White, #FFF);
        border-radius: 1.6rem;

        @include breakpointMF(laptop) {
            padding: 3.6rem;
            border-radius: 2.4rem;
        }
    }


    &__title {
        @include h2;
        text-align: center;

        @include breakpointMF(laptop) {
            text-align: left;
        }
    }

    &__inputs {
        &.account-block__inputs {
            @include breakpoint(tablet) {
                gap: 1.6rem 0.8rem;
            }
        }
    }

    &__input {
        &.order-placing__select-wrapper {
            @include breakpointMF(laptop) {
                flex: 0 1 calc(50% - 0.8rem);
            }
        }

        &--double {
            &.order-placing__select-wrapper {
                @include breakpoint(tablet) {
                    flex: 0 1 calc(50% - 0.4rem);
                }
            }
        }

        &--triple {
            &.order-placing__select-wrapper {
                @include breakpoint(tablet) {
                    flex: 0 1 calc(100% / 3 - (0.8rem * 2 / 3));
                }
            }
        }

        &--full {
            &.order-placing__select-wrapper {
                @include breakpoint(tablet) {
                    flex: 1 1 100%;
                }
            }
        }

        &.modal__input--full-width {
            flex: 1 1 100%;
        }

        &.modal__input--half-width {
            flex: 0 1 calc(50% - 0.8rem);

            @include breakpoint(tablet) {
                flex: 0 1 calc(50% - 0.4rem);
            }

            &.modal__input--full {
                @include breakpoint(tablet) {
                    flex: 1 1 100%;
                }
            }
        }
    }


    &__subtitle {
        @include h3;
        text-align: center;
    }

    &__text {
        color: var(--Dark-gray, #242424);
        text-align: center;
        @include t1;

        @include breakpointMF(laptop) {
            margin-block: -0.8rem;
        }
    }

    &__controls {
        display: flex;
        align-items: stretch;
        gap: 0.8rem;

        @include breakpointMF(laptop) {
            gap: 1.8rem;
        }

        &>* {
            flex: 1 1 calc(100% / 2 - 0.4rem);

            @include breakpointMF(laptop) {
                flex: 1 1 calc(100% / 2 - 0.8rem);
            }
        }
    }

    &__pass-link {
        &.blue-link {
            width: max-content;
        }
    }
}


@keyframes slideFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}
