.product-about {
    @extend ._round-white-frame;

    display: flex;
    align-items: stretch;
    flex-direction: column;
    overflow: hidden;
    gap: 2.4rem;

    @include breakpointMF(laptop) {
        gap: 3.6rem;
    }

    @include breakpoint(tablet) {
        align-self: stretch;
        padding: 2.4rem 1.6rem;
        background-color: var(--White, #FFF);
        border-radius: 1.6rem;
    }

    &__navbar {
        &.selection__navbar {
            @include breakpoint(tablet) {
                flex-direction: row;
                flex-wrap: nowrap;
                overflow: auto;
                margin-inline: -1.6% -1.6%;
                padding-inline: 1.6% 1.6%;

                @include noScrollbar();
            }
        }

        .selection__tab {
            &.tab {
                &.tab--active {

                    @include breakpoint(tablet) {
                        order: -1;
                    }
                }
            }
        }

        .tab {
            color: var(--Grey-1, #666);

            &.tab--active {
                color: var(--Black, #141414);
            }
        }
    }

    &__desc {

        &>h3 {
            @include h3;

            margin-bottom: 1.6rem;

            @include breakpointMF(laptop) {
                margin-bottom: 2.4rem;
            }
        }

        &>ul {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;

            @include breakpointMF(laptop) {
                gap: 1.6rem;
            }

            &>li {
                h4 {
                    @include t1;
                    margin-bottom: 1.2rem;
                }

                p {
                    @include t2;
                    color: var(--Grey-1, #666);
                }

                &>ul {
                    padding-left: 1ch;

                    li {
                        color: var(--Grey-1, #666);
                        list-style-type: " - ";
                    }
                }
            }
        }
    }

    &__table {
        &>h3 {
            @include h3;

            margin-bottom: 2.4rem;
        }
    }
}
