.selection {
    color: var(--White, #FFF);

    &__grid {
        display: grid;
        grid-template-columns: 100%;
        grid-auto-flow: row;
        gap: 2.4rem;

        padding: 2.4rem;

        background-color: var(--Black, #141414);
        border-radius: 1.6rem;

        @include breakpointMF(laptop) {
            grid-template-columns: 1fr 32rem;
            grid-auto-flow: column;
            gap: 2.4rem;

            padding: unset;

            background-color: transparent;
            border-radius: unset;
        }
    }

    &__black-main {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 2.4rem;

        @include breakpointMF(laptop) {
            padding: 3.6rem 4.8rem;

            background-color: var(--Black, #141414);
            border-radius: 2.4rem;

        }
    }

    &__red-button {
        position: relative;

        display: grid;
        grid-auto-flow: column;
        place-items: center stretch;
        padding: 0.8rem 1.2rem;
        height: 4rem;

        color: var(--White, #FFF);
        background-color: var(--Red, #D42111);
        border-radius: 0.8rem;

        @include b1;

        transition-property: background;
        transition-duration: 0.4s;
        transition-timing-function: ease;

        @include breakpointMF(laptop) {
            place-items: center;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;
            aspect-ratio: 1;
            padding: unset;

            height: unset;
            border-radius: 2.4rem;

            @include h2;

            @include hover {
                background-color: var(--Dark-red, #A50D0D);

                &>span {
                    @include breakpointMF(laptop) {
                        opacity: 0;
                        transform: translateX(150%) translateY(-50%) scale(0.8);
                    }
                }

                &>svg {
                    opacity: 1;
                    transform: translateX(-50%) translateY(-50%) scale(1);
                }
            }
        }

        &>svg {
            width: 2rem;
            height: 2rem;
            margin-left: auto;

            @include breakpointMF(laptop) {
                order: 1;
                width: 12.8rem;
                height: 12.8rem;
                margin-left: unset;
                transform: translateX(-150%) translateY(-50%) scale(0.5);
                opacity: 0;
            }
        }

        &>span {
            @include breakpointMF(laptop) {
                order: 2;
                transform: translateX(-50%) translateY(-50%) scale(1);
            }
        }

        &>span,
        &>svg {
            transition-property: transform, opacity;
            transition-duration: 0.4s;
            transition-timing-function: ease;

            @include breakpointMF(laptop) {
                position: absolute;
                left: 50%;
                top: 50%;
            }
        }
    }

    &__head {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.4rem;

        @include breakpointMF(small-tablet) {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            gap: 4.8rem;
        }
    }

    &__title {
        @include h2;
    }

    &__navbar {
        display: flex;
        flex-wrap: wrap;
        gap: 0.8rem;


        width: 100%;

        @include breakpointMF(small-tablet) {
            gap: 1.6rem;
            width: unset;
        }
    }

    &__tab {
        flex: 0 1 calc(50% - 0.4rem);

        @include breakpointMF(small-tablet) {
            flex: unset;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 1.6rem;

        @include breakpointMF(laptop) {
            gap: 3.6rem 1.6rem;
        }

        &.selection__list--hiddden {
            display: none;
        }
    }

    &__item {
        &.selection__item--third {
            flex: 1 1 100%;

            @include breakpointMF(laptop) {
                flex: 1 1 calc(100% / 3 - (1.6rem *2 / 3));
            }
        }

        &.selection__item--full {
            flex: 1 1 100%;

            &:has(.selection__item-text) {
                display: flex;
                align-items: flex-end;
                min-height: 4rem;
            }
        }
    }

    &__label {
        display: block;
        margin-bottom: 0.8rem;
    }

    &__checkboxes {
        display: flex;
        flex-wrap: wrap;
        gap: 0.8rem;
        margin-top: unset;

        @include breakpoint(mobile) {
            justify-content: space-between;
            margin-top: 0.8rem;
        }
    }

    &__checkbox-label {
        display: grid;
        place-items: center;
        grid-auto-flow: column;
        gap: 0.8rem;

        height: 4.8rem;
        padding: 1.2rem 1.5rem;

        white-space: nowrap;

        @include b2;

        color: var(--Grey-2, #B3B3B3);
        border-radius: 0.8rem;

        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        cursor: pointer;

        @include breakpoint(tablet) {
            height: 4rem;
            aspect-ratio: 1;
            padding: unset;
        }

        &>svg {
            width: 2.4rem;
            height: 2.4rem;

            transition-property: all;
            transition-duration: 0.3s;
            transition-timing-function: ease;

            filter: grayscale(1) brightness(0.7);
        }

        &>span {
            @include breakpoint(tablet) {
                display: none;
            }
        }

        @include hover {
            color: var(--White, #FFF);

            &>svg {
                filter: grayscale(1) brightness(1);
            }
        }
    }

    &__checkbox {
        &:checked {
            &+.selection__checkbox-label {
                color: var(--Black, #141414);
                background-color: var(--White, #FFF);
                backdrop-filter: blur(5px);

                &>svg {
                    filter: grayscale(0) brightness(1);
                }
            }
        }
    }

    &__item-text {
        color: var(--Grey-1, #666);

        @include breakpoint(mobile) {
            max-width: 33ch;
            margin-inline: auto;
            text-align: center;
        }
    }
}
