{{#extend "auth"}}
{{#content "main"}}

<section class="section auth-section">
    <div class="auth-section__container">
        <div class="auth-section__picture">
            <picture>
                <source media="(max-aspect-ratio: 4/3)" type="image/webp" srcset="./img/back-svg-m.svg" />
                <source media="(min-aspect-ratio: 4/3)" type="image/webp" srcset="./img/back-svg.svg" />
                <img class="lazy" src="./img/back-svg.svg" alt="">
            </picture>
        </div>

        <div class="auth-section__from-wrapper">
            <div class="ready-popup__body modal__body account-block__flex">
                <a href="/" class="ready-popup__logo logo">
                    <svg aria-hidden="true" class="icon">
                        <use xlink:href="#logo"></use>
                    </svg>
                </a>

                <h2 class="ready-popup__title">
                    Поздравляем!
                </h2>

                <div class="ready-popup__center">

                    <p class="ready-popup__desc">
                        Пароль успешно изменен.
                    </p>

                    <p class="ready-popup__text">
                        Войдите в личный кабинет.
                    </p>
                </div>

                <a href="./account-profile.html" class="modal__submit simple-btn">
                    Войти
                </a>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}
