{{#extend "layout"}}
{{#content "main"}}

<section class="section section--cart product-section">
    <div class="product-section__site-container">
        <div class="product-section__layout grid-layout">
            <form action="" class="grid-layout__container">
                <div class="grid-layout__small-cell grid-layout__product-ordering product-ordering">
                    <ul class="product-ordering__list product-ordering__list--divider">
                        <li class="product-ordering__list-item">
                            <div class="product-ordering__list-key">Товаров:</div>
                            <div class="product-ordering__list-value product-ordering__product-value">8</div>
                        </li>
                        <li class="product-ordering__list-item">
                            <div class="product-ordering__list-key">Подытог:</div>
                            <div class="product-ordering__list-value product-ordering__products-cost">61 160</div>
                        </li>
                        <li class="product-ordering__list-item">
                            <div class="product-ordering__list-key">Скидка:</div>
                            <div class="product-ordering__list-value product-ordering__products-discount">10 760</div>
                        </li>
                    </ul>

                    <div class="product-ordering__list-item">
                        <div class="product-ordering__list-key">Итоговая сумма:</div>
                        <div class="product-ordering__list-value product-ordering__final-cost">50 400</div>
                    </div>

                    <button type="submit" class="product-ordering__submit simple-btn">
                        Оформить заказ
                    </button>
                </div>

                <div class="grid-layout__big-cell">
                    <div class="grid-layout__cart-list cart-list">
                        <div class="cart-list__title">
                            Корзина
                        </div>

                        <ul class="cart-list__list">
                            {{>cart-item cartItemClass="cart-list__item"}}
                            {{>cart-item cartItemClass="cart-list__item"}}
                        </ul>
                    </div>
                </div>
            </form>
        </div>
</section>

<section class="section section--empty-cart home home--no-height">
    <div class="home__site-container">
        <div class="section__empty-plug section__empty-plug--no-margins empty-plug">
            <h3 class="empty-plug__title">
                Корзина
            </h3>

            <div class="empty-plug__center">
                <p class="empty-plug__message">
                    У&nbsp;вас пока нет товаров в корзине.
                </p>
                <p class="empty-plug__text">
                    Перейдите в каталог и оформите выберите понравившийся товар и оформите свой первый заказ.
                </p>
            </div>

            <a href="./catalog.html" class="empty-plug__link tab tab--red-outlined">
                Перейти в каталог
            </a>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}
