{{#extend "layout"}}
{{#content "main"}}

<section class="section catalog">
    <div class="catalog__site-container">
        <div class="catalog__layout grid-layout">
            <div class="grid-layout__container">
                <div class="grid-layout__small-cell">
                    <div class="grid-layout__catalog-nav catalog-nav catalog-nav--sticky">
                        <h3 class="catalog-nav__title catalog-nav__title--all">
                            Информация
                        </h3>
                        <ul class="catalog-nav__list">
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        Акции
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        Доставка и оплата
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        О нас
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        Новости
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        Отзывы
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link catalog-link--active">
                                    <span class="catalog-link__text">
                                        Контакты
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        Политика персональных данных
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="grid-layout__big-cell grid-layout__info-block grid-layout__info-block--white info-block">
                    <div class="info-block__body info-block__body--flex">
                        <h2 class="info-block__title">
                            Контакты
                        </h2>

                        <div class="info-block__table">
                            <ul class="product-info__list">
                                <li class="product-info__list-item">
                                    <span class="product-info__item-key">Телефон:</span>
                                    <span class="product-info__item-value">
                                        +7 (495) 740-20-19
                                    </span>
                                </li>
                                <li class="product-info__list-item">
                                    <span class="product-info__item-key">Почта отдела оптовых продаж:</span>
                                    <div class="product-info__item-value">
                                        <a href="mailto:opt@hochushinu.ru" class="blue-link">
                                            opt@hochushinu.ru
                                        </a>
                                    </div>
                                </li>
                                <li class="product-info__list-item">
                                    <span class="product-info__item-key">По всем остальным вопросам:</span>
                                    <div class="product-info__item-value">
                                        <a href="mailto:info@hochushinu.ru" class="blue-link">
                                            info@hochushinu.ru
                                        </a>
                                    </div>
                                </li>
                                <li class="product-info__list-item">
                                    <span class="product-info__item-key">Адрес:</span>
                                    <p class="product-info__item-value">
                                        192171, Санкт-Петербург, Железнодорожный проспект, 20<br>
                                        <span>Пн-Пт, с 10:00-18:00</span>
                                    </p>
                                </li>
                            </ul>
                        </div>

                        <div class="info-block__map" id="yamap">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}
