{{#extend "layout"}}
{{#content "main"}}


<section class="section catalog">
    <div class="catalog__site-container">
        <div class="catalog__layout grid-layout grid-layout--no-padding">
            <div class="grid-layout__container">
                <div class="grid-layout__small-cell">
                    <div class="grid-layout__catalog-nav catalog-nav catalog-nav--sticky hide-on-mobile">
                        <h3 class="catalog-nav__title catalog-nav__title--all">
                            Информация
                        </h3>
                        <ul class="catalog-nav__list">
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        Акции
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        Доставка и оплата
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        О нас
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        Новости
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        Отзывы
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        Контакты
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        Политика персональных данных
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="grid-layout__big-cell grid-layout__info-block info-block">
                    <div class="info-block__body info-block__body--flex">
                        <div class="info-block__back-header product-section__back-header">
                            <a href="#" class="product-section__back-link carousel-btn carousel-btn--prev">
                                <svg aria-hidden="true" class="icon">
                                    <use xlink:href="#bx-arrow-prev"></use>
                                </svg>
                                <svg aria-hidden="true" class="icon">
                                    <use xlink:href="#bx-arrow-prev"></use>
                                </svg>
                            </a>

                            <span class="product-section__back-text">
                                Назад
                            </span>
                        </div>

                        <div class="info-block__image-block image-block">
                            <div class="image-block__picture">
                                <picture>
                                    <source media="(max-aspect-ratio: 4/3)" type="image/webp"
                                        srcset="./img/news/wheels-m.webp" />
                                    <source media="(min-aspect-ratio: 4/3)" type="image/webp"
                                        srcset="./img/news/wheels.webp" />
                                    <source media="(max-aspect-ratio: 4/3)" srcset="./img/news/wheels-m.jpg" />
                                    <img class="lazy" src="./img/news/wheels.jpg" alt="">
                                </picture>
                            </div>
                            <div class="image-block__text-wrapper">
                                <h2 class="image-block__title">
                                    Краткое описание акции Краткое описание акции Краткое описание акции Краткое
                                    описание акции
                                </h2>
                                <span class="image-block__date">
                                    05 мая 2015 — 05 мая 2030
                                </span>
                            </div>
                        </div>

                        <div class="info-block__article">
                            <h3>
                                Акция «Шины со скидкой»
                            </h3>

                            <p>
                                Только сегодня вы можете приобрести шины по специальной цене! Не упустите свой шанс
                                обеспечить своему автомобилю надёжное сцепление с дорогой и комфортную езду. Только
                                сегодня вы можете приобрести шины по специальной цене! Не упустите свой шанс обеспечить
                                своему автомобилю надёжное сцепление с дорогой и комфортную езду.
                            </p>
                        </div>

                        <div class="info-block__article">
                            <h3>
                                Правила проведения акции
                            </h3>

                            <ul>
                                <li>
                                    Описание условия.
                                </li>
                                <li>
                                    Описание условия.
                                </li>
                                <li>
                                    Описание условия.
                                </li>
                                <li>
                                    Описание условия.
                                </li>
                                <li>
                                    Описание условия.
                                </li>
                                <li>
                                    Срок проведения акции:
                                </li>
                            </ul>
                        </div>

                        <div class="info-block__carousel-section carousel-section js-carousels-swiper"
                            data-slides-count="4444">
                            <div class="carousel-section__header">
                                <h2 class="carousel-section__title">
                                    Лучшие предложения на шины
                                </h2>
                                <div class="carousel-section__navigation">
                                    <button type="button"
                                        class="carousel-section__btn-prev carousel-btn carousel-btn--prev">
                                        <svg aria-hidden="true" class="icon">
                                            <use xlink:href="#bx-arrow-prev"></use>
                                        </svg>
                                        <svg aria-hidden="true" class="icon">
                                            <use xlink:href="#bx-arrow-prev"></use>
                                        </svg>
                                    </button>
                                    <button type="button"
                                        class="carousel-section__btn-next carousel-btn carousel-btn--next">
                                        <svg aria-hidden="true" class="icon">
                                            <use xlink:href="#bx-arrow-next"></use>
                                        </svg>
                                        <svg aria-hidden="true" class="icon">
                                            <use xlink:href="#bx-arrow-next"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>

                            <div class="carousel-section__body">
                                <div class="carousel-section__swiper swiper">
                                    <ul class="carousel-section__swiper-wrappper swiper-wrapper">
                                        <li class="carousel-section__swiper-slide swiper-slide">
                                            {{>card discountCard=true cardClass="carousel-section__card"}}
                                        </li>
                                        <li class="carousel-section__swiper-slide swiper-slide">
                                            {{>card discountCard=false cardClass="carousel-section__card"}}
                                        </li>
                                        <li class="carousel-section__swiper-slide swiper-slide">
                                            {{>card discountCard=true cardClass="carousel-section__card"}}
                                        </li>
                                        <li class="carousel-section__swiper-slide swiper-slide">
                                            {{>card discountCard=false cardClass="carousel-section__card"}}
                                        </li>
                                        <li class="carousel-section__swiper-slide swiper-slide">
                                            {{>card discountCard=true cardClass="carousel-section__card"}}
                                        </li>
                                        <li class="carousel-section__swiper-slide swiper-slide">
                                            {{>card discountCard=false cardClass="carousel-section__card"}}
                                        </li>
                                        <li class="carousel-section__swiper-slide swiper-slide">
                                            {{>card discountCard=true cardClass="carousel-section__card"}}
                                        </li>
                                        <li class="carousel-section__swiper-slide swiper-slide">
                                            {{>card discountCard=false cardClass="carousel-section__card"}}
                                        </li>
                                        <li class="carousel-section__swiper-slide swiper-slide">
                                            {{>card discountCard=true cardClass="carousel-section__card"}}
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <a href="#" class="carousel-section__link button button--outlined">
                                <svg aria-hidden="true" class="icon">
                                    <use xlink:href="#bx-arrow"></use>
                                </svg>
                                <span>Смотреть&nbsp;все</span>
                                <svg aria-hidden="true" class="icon">
                                    <use xlink:href="#bx-arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}
