{{#extend "layout"}}
{{#content "main"}}


<section class="section catalog">
    <div class="catalog__site-container">
        <div class="catalog__layout grid-layout grid-layout--no-padding">
            <div class="grid-layout__container">
                <div class="grid-layout__small-cell">
                    <div class="grid-layout__catalog-nav catalog-nav catalog-nav--sticky hide-on-mobile">
                        <h3 class="catalog-nav__title catalog-nav__title--all">
                            Информация
                        </h3>
                        <ul class="catalog-nav__list">
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        Акции
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        Доставка и оплата
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        О нас
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        Новости
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        Отзывы
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        Контакты
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        Политика персональных данных
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="grid-layout__big-cell grid-layout__info-block info-block">
                    <div class="info-block__body info-block__body--flex">
                        <div class="info-block__back-header product-section__back-header">
                            <a href="#" class="product-section__back-link carousel-btn carousel-btn--prev">
                                <svg aria-hidden="true" class="icon">
                                    <use xlink:href="#bx-arrow-prev"></use>
                                </svg>
                                <svg aria-hidden="true" class="icon">
                                    <use xlink:href="#bx-arrow-prev"></use>
                                </svg>
                            </a>

                            <span class="product-section__back-text">
                                Назад
                            </span>
                        </div>

                        <div class="info-block__image-block image-block">
                            <div class="image-block__picture">
                                <picture>
                                    <source media="(max-aspect-ratio: 4/3)" type="image/webp"
                                        srcset="./img/news/track-m.webp" />
                                    <source media="(min-aspect-ratio: 4/3)" type="image/webp"
                                        srcset="./img/news/track.webp" />
                                    <source media="(max-aspect-ratio: 4/3)" srcset="./img/news/track-m.jpg" />
                                    <img class="lazy" src="./img/news/track.jpg" alt="">
                                </picture>
                            </div>
                            <div class="image-block__text-wrapper">
                                <h2 class="image-block__title">
                                    Компания Michelin представила новую линейку шин для грузовиков, разработанную
                                    с использованием передовых технологий
                                </h2>
                                <span class="image-block__date">
                                    28 мая 2024
                                </span>
                            </div>
                        </div>

                        <div class="info-block__article">
                            <h1>
                                Заголовок h1
                            </h1>

                            <p>
                                В мире грузовых шин произошло интересное событие — компания Michelin представила новую
                                линейку шин для грузовиков, разработанную с использованием передовых технологий. Эти
                                шины отличаются улучшенной топливной экономичностью и увеличенным сроком службы, что
                                делает их идеальным выбором для коммерческих перевозчиков. Благодаря инновационному
                                составу резиновой смеси, эти шины способны снизить расход топлива до 20%, что
                                существенно сокращает эксплуатационные расходы. Кроме того, они обладают повышенной
                                прочностью и износостойкостью, что особенно важно для тяжелых условий эксплуатации.
                            </p>
                        </div>

                        <div class="info-block__article">
                            <h2>
                                Заголовок h2
                            </h2>

                            <p>
                                В мире грузовых шин произошло интересное событие — компания Michelin представила новую
                                линейку шин для грузовиков, разработанную с использованием передовых технологий. Эти
                                шины отличаются улучшенной топливной экономичностью и увеличенным сроком службы, что
                                делает их идеальным выбором для коммерческих перевозчиков. Благодаря инновационному
                                составу резиновой смеси, эти шины способны снизить расход топлива до 20%, что
                                существенно сокращает эксплуатационные расходы. Кроме того, они обладают повышенной
                                прочностью и износостойкостью, что особенно важно для тяжелых условий эксплуатации.
                            </p>
                        </div>

                        <div class="info-block__article">
                            <h3>
                                Заголовок h3
                            </h3>

                            <p>
                                В мире грузовых шин произошло интересное событие — компания Michelin представила новую
                                линейку шин для грузовиков, разработанную с использованием передовых технологий. Эти
                                шины отличаются улучшенной топливной экономичностью и увеличенным сроком службы, что
                                делает их идеальным выбором для коммерческих перевозчиков. Благодаря инновационному
                                составу резиновой смеси, эти шины способны снизить расход топлива до 20%, что
                                существенно сокращает эксплуатационные расходы. Кроме того, они обладают повышенной
                                прочностью и износостойкостью, что особенно важно для тяжелых условий эксплуатации.
                            </p>
                        </div>

                        <div class="info-block__article">
                            <h4>
                                Заголовок h4
                            </h4>

                            <p>
                                В мире грузовых шин произошло интересное событие — компания Michelin представила новую
                                линейку шин для грузовиков, разработанную с использованием передовых технологий. Эти
                                шины отличаются улучшенной топливной экономичностью и увеличенным сроком службы, что
                                делает их идеальным выбором для коммерческих перевозчиков. Благодаря инновационному
                                составу резиновой смеси, эти шины способны снизить расход топлива до 20%, что
                                существенно сокращает эксплуатационные расходы. Кроме того, они обладают повышенной
                                прочностью и износостойкостью, что особенно важно для тяжелых условий эксплуатации.
                            </p>
                        </div>

                        <div class="info-block__article">
                            <h4>
                                Заголовок h4
                            </h4>

                            <p>
                                В мире грузовых шин произошло интересное событие — компания Michelin представила новую
                                линейку шин для грузовиков, разработанную с использованием передовых технологий. Эти
                                шины отличаются улучшенной топливной экономичностью и увеличенным сроком службы, что
                                делает их идеальным выбором для коммерческих перевозчиков. Благодаря инновационному
                                составу резиновой смеси, эти шины способны снизить расход топлива до 20%, что
                                существенно сокращает эксплуатационные расходы. Кроме того, они обладают повышенной
                                прочностью и износостойкостью, что особенно важно для тяжелых условий эксплуатации.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}
