{{#extend "layout"}}
{{#content "main"}}

<section class="section catalog">
    <div class="catalog__site-container">
        <div class="catalog__layout grid-layout">
            <div class="grid-layout__container">
                <div class="grid-layout__small-cell">
                    <div class="grid-layout__catalog-nav catalog-nav catalog-nav--sticky">
                        <h3 class="catalog-nav__title catalog-nav__title--all">
                            Информация
                        </h3>
                        <ul class="catalog-nav__list">
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        Акции
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link catalog-link--active">
                                    <span class="catalog-link__text">
                                        Доставка и оплата
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        О нас
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        Новости
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        Отзывы
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        Контакты
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        Политика персональных данных
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="grid-layout__big-cell grid-layout__info-block grid-layout__info-block--white info-block">
                    <div class="info-block__body">
                        <h2 class="info-block__title">
                            Доставка и оплата
                        </h2>

                        <ol class="info-block__list info-block__list--full-column">
                            <li class="info-block__grey-item">
                                <h3>
                                    Самовывоз со склада
                                </h3>

                                <div class="info-block__row">
                                    <div class="info-block__col">
                                        <p class="info-block__text">
                                            Оформите заказ на сайте, в чате или по телефону. В удобное время заберите
                                            товар самовывозом со склада по адресу:
                                        </p>
                                        <p class="info-block__text info-block__text--black">
                                            г. Санкт-Петербург, Железнодорожный проспект 20<br>
                                            Пн-Вс 10:00-19:00
                                        </p>
                                    </div>
                                    <div class="info-block__col">
                                        <p class="info-block__text">
                                            Также вы сможете получить профессиональную консультацию
                                            и воспользоваться услугами <a href="" target="_blank">шиномонтажа.</a>
                                        </p>
                                        <p class="info-block__text">
                                            Вы можете уточнить адрес, график работы, ассортимент, набор услуг
                                            и спецпредложений по телефону <a href="http:tel:88129009030"
                                                target="_blank">8 (812) 900-90-30.</a>
                                        </p>
                                    </div>

                                </div>
                            </li>
                            <li class="info-block__grey-item">
                                <h3>
                                    Самовывоз со склада
                                </h3>

                                <div class="info-block__row">
                                    <p class="info-block__text">
                                        Доставка курьерcкой службой осуществляется ежедневно с 09:00 до 22:00 по
                                        предварительной договоренности.
                                    </p>

                                </div>
                            </li>
                            <li class="info-block__grey-item">
                                <h3>
                                    Доставка по Санкт-Петербургу
                                </h3>

                                <div class="info-block__row">
                                    <p class="info-block__text">
                                        Доставка шин и дисков по СПб (в пределах КАД) осуществляется с понедельника по
                                        пятницу <span
                                            class="info-block__text info-block__text--black">с 10:00 до 20:00.</span>
                                        При
                                        наличии заказанного товара на складе, мы готовы
                                        доставить его в течение 2-х дней после оформления заказа.
                                    </p>

                                    <p class="info-block__text">
                                        Стоимость доставки по СПб в пределах КАД - от 500 до 2000 рублей в зависимости
                                        от района. При сумме заказа более 200 000 автопаркам и 300 000 оптовым клиетам -
                                        доставка осуществляется бесплатно.
                                    </p>
                                </div>
                            </li>
                            <li class="info-block__grey-item">
                                <h3>
                                    Доставка в регионы
                                </h3>

                                <div class="info-block__row">
                                    <p class="info-block__text">
                                        Закажите доставку по удобному адресу. Стоимость доставки рассчитывается по
                                        тарифам транспортных компаний.
                                    </p>

                                    <p class="info-block__text">
                                        Оформите заказ, и наши менеджеры подберут оптимальный по срокам и стоимости
                                        вариант доставки по России.
                                    </p>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}
