{{#extend "layout"}}
{{#content "main"}}

<section class="section catalog">
    <div class="catalog__site-container">
        <div class="catalog__layout grid-layout">
            <div class="grid-layout__container">
                <div class="grid-layout__small-cell">
                    <div class="grid-layout__catalog-nav catalog-nav catalog-nav--sticky">
                        <h3 class="catalog-nav__title catalog-nav__title--all">
                            Информация
                        </h3>
                        <ul class="catalog-nav__list">
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        Акции
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        Доставка и оплата
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link catalog-link--active">
                                    <span class="catalog-link__text">
                                        О нас
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        Новости
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        Отзывы
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        Контакты
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="catalog-nav__link catalog-link">
                                    <span class="catalog-link__text">
                                        Политика персональных данных
                                    </span>
                                    <svg aria-hidden="true" class="catalog-link__arrow">
                                        <use xlink:href="#bx-chevron"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="grid-layout__big-cell grid-layout__info-block grid-layout__info-block--white info-block">
                    <div class="info-block__body info-block__body--flex">
                        <h2 class="info-block__title">
                            Доставка и оплата
                        </h2>
                        <p class="info-block__about-text info-block__text info-block__text--black">
                            Основными брендами завода являются RAPID, THREE-A, YATAI, AOTELI и YATONE. Продукция имеет
                            европейскую сертификацию ЕЭК, российскую сертификацию EAC, европейскую сертификацию ECE
                            R117, сертификацию DOT в Соединенных Штатах, сертификацию GCC на Ближнем Востоке,
                            сертификацию INMETRO в Бразилии. Продукция завода SHENGTAI широко пользуется популярностью
                            у китайских и зарубежных клиентов. Продукция завода выпускается преимущественно для рынка
                            КНР, России, Италии.
                            Всё производство шин ведётся на высокоточном оборудования из США и Европы
                            с высококачественным сырьем из каучука. Все шины промаркированы в системе «Честный знак»
                            и обеспечены сертификатами о соответствии.
                        </p>

                        <p class="info-block__about-slogan info-block__grey-item">
                            «Наша компания напрямую поставляеn с завода бренды RAPID, THREE-A, YATAI, AOTELI и YATONE.»
                        </p>

                        <figure class="info-block__picture">
                            <picture>
                                <source media="(max-aspect-ratio: 4/3)" type="image/webp"
                                    srcset="./img/figure-m.webp" />
                                <source media="(min-aspect-ratio: 4/3)" type="image/webp" srcset="./img/figure.webp" />
                                <source media="(max-aspect-ratio: 4/3)" srcset="./img/figure-m.jpg" />
                                <img class="lazy" src="./img/home/figure.jpg" alt="">
                            </picture>
                            <figcaption>
                                LTD: Shengtai Group Co., Ltd, Китай<br>
                                Address: 257336, Xishui Industrial Area, Guangrao County, Dongying City, Shandong
                                Province, P.R., адрес места осуществления деятельности: Китай, Xishui Industry Park,
                                Guangrao County, Dongying City, Shandong Province (PRC);
                                Address: 257336, Xishui Industrial Area, Guangrao County, Dongying City, Shandong
                                Province, P.R., ТР ТС 018/2011
                            </figcaption>
                        </figure>

                        <div class="info-block__media product-media">
                            <div class="product-media__item">
                                <div class="product-media__subtitle">
                                    Фото с производства
                                </div>

                                <ul class="product-media__list">
                                    <li class="product-media__media-item product-media__media--image">
                                        <img class="lazy" src="./img/product/image-1.png" alt="" data-fancybox>
                                    </li>
                                    <li class="product-media__media-item product-media__media--image">
                                        <img class="lazy" src="./img/product/image-2.png" alt="" data-fancybox>
                                    </li>
                                    <li class="product-media__media-item product-media__media--image">
                                        <img class="lazy" src="./img/product/image-1.png" alt="" data-fancybox>
                                    </li>
                                    <li class="product-media__media-item product-media__media--image">
                                        <img class="lazy" src="./img/product/image-2.png" alt="" data-fancybox>
                                    </li>
                                    <li class="product-media__media-item product-media__media--image">
                                        <img class="lazy" src="./img/product/image-1.png" alt="" data-fancybox>
                                    </li>
                                    <li class="product-media__media-item product-media__media--image">
                                        <img class="lazy" src="./img/product/image-2.png" alt="" data-fancybox>
                                    </li>
                                    <li class="product-media__media-item product-media__media--image">
                                        <img class="lazy" src="./img/product/image-1.png" alt="" data-fancybox>
                                    </li>
                                    <li class="product-media__media-item product-media__media--image">
                                        <img class="lazy" src="./img/product/image-2.png" alt="" data-fancybox>
                                    </li>
                                    <li class="product-media__media-item product-media__media--image">
                                        <img class="lazy" src="./img/product/image-1.png" alt="" data-fancybox>
                                    </li>
                                    <li class="product-media__media-item product-media__media--image">
                                        <img class="lazy" src="./img/product/image-2.png" alt="" data-fancybox>
                                    </li>
                                    <li class="product-media__media-item product-media__media--image">
                                        <img class="lazy" src="./img/product/image-1.png" alt="" data-fancybox>
                                    </li>
                                    <li class="product-media__media-item product-media__media--image">
                                        <img class="lazy" src="./img/product/image-2.png" alt="" data-fancybox>
                                    </li>
                                    <li class="product-media__media-item product-media__media--image">
                                        <img class="lazy" src="./img/product/image-1.png" alt="" data-fancybox>
                                    </li>
                                    <li class="product-media__media-item product-media__media--image">
                                        <img class="lazy" src="./img/product/image-2.png" alt="" data-fancybox>
                                    </li>
                                    <li class="product-media__media-item product-media__media--image">
                                        <img class="lazy" src="./img/product/image-1.png" alt="" data-fancybox>
                                    </li>
                                    <li class="product-media__media-item product-media__media--image">
                                        <img class="lazy" src="./img/product/image-2.png" alt="" data-fancybox>
                                    </li>
                                    <li class="product-media__media-item product-media__media--image">
                                        <img class="lazy" src="./img/product/image-1.png" alt="" data-fancybox>
                                    </li>
                                    <li class="product-media__media-item product-media__media--image">
                                        <img class="lazy" src="./img/product/image-2.png" alt="" data-fancybox>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="info-block__media product-media">
                            <div class="product-media__item">
                                <div class="product-media__subtitle">
                                    Видео с производства
                                </div>

                                <ul class="product-media__list">
                                    <li class="product-media__media-item product-media__media--video video-box">
                                        <label class="video-box__button">
                                            <input type="checkbox" name="video-button-input" id="">
                                            <svg aria-hidden="true" class="icon">
                                                <use xlink:href="#bx-play"></use>
                                            </svg>
                                        </label>
                                        <div class="video-box__container">
                                            <video poster="./img/product/poster.jpg" muted controls playsinline>
                                                <source src="./img/video.mp4" type="video/mp4">
                                                <source src="./img/video.webp" type="video/webp">
                                            </video>
                                        </div>
                                    </li>
                                    <li class="product-media__media-item product-media__media--video video-box">
                                        <label class="video-box__button">
                                            <input type="checkbox" name="video-button-input" id="">
                                            <svg aria-hidden="true" class="icon">
                                                <use xlink:href="#bx-play"></use>
                                            </svg>
                                        </label>
                                        <div class="video-box__container">
                                            <video poster="./img/product/poster.jpg" muted controls playsinline>
                                                <source src="./img/video.mp4" type="video/mp4">
                                                <source src="./img/video.webp" type="video/webp">
                                            </video>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}
