{{#extend "layout"}}
{{#content "main"}}

<section class="section ready-popup">
    <div class="ready-popup__site-container">
        <div class="ready-popup__body modal__body account-block__flex">
            <div class="ready-popup__logo logo">
                <svg aria-hidden="true" class="icon">
                    <use xlink:href="#logo"></use>
                </svg>
            </div>

            <h2 class="ready-popup__title">
                Поздравляем!
            </h2>

            <div class="ready-popup__center">

                <p class="ready-popup__desc">
                    Вы успешно оформили заказ. Мы рады видеть вас среди наших клиентов и надеемся, что наше
                    сотрудничество
                    будет долгим и плодотворным.
                </p>

                <p class="ready-popup__text">
                    Вы можете следить за статусом заказа в личном кабинете, в разделе «Мои заказы».
                </p>
            </div>

            <a href="./account-profile.html" class="modal__submit simple-btn">
                перейти в Личный кабинет
            </a>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}
