{{#extend "layout"}}
{{#content "main"}}

<section class="section ready-popup">
    <div class="ready-popup__site-container">
        <div class="ready-popup__body modal__body account-block__flex">
            <a href="/" class="ready-popup__logo logo">
                <svg aria-hidden="true" class="icon">
                    <use xlink:href="#logo"></use>
                </svg>
            </a>

            <h2 class="ready-popup__title">
                Поздравляем!
            </h2>

            <div class="ready-popup__center">

                <p class="ready-popup__desc">
                    Вы&nbsp;успешно оформили заказ. Мы&nbsp;рады видеть вас среди наших клиентов и&nbsp;надеемся, что
                    наше
                    сотрудничество
                    будет долгим и&nbsp;плодотворным.
                </p>

                <p class="ready-popup__text">
                    Вы&nbsp;можете следить за&nbsp;статусом заказа в&nbsp;личном кабинете, в&nbsp;разделе &laquo;Мои
                    заказы&raquo;.
                </p>
            </div>

            <a href="./account-profile.html" class="modal__submit simple-btn">
                перейти в Личный кабинет
            </a>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}
