body {
    background-color: var(--Light-Grey, #F2F2F2);

    &.main-page {
        background-color: var(--White, #FFF);
    }

    &.catalog-page {
        .page-footer {
            .subscription {
                display: none;
            }
        }
    }

    &.mobile-search-open,
    &.catalog-is-open {
        @extend .no-scroll;

        .page-main {
            @include breakpoint(tablet) {
                pointer-events: none;
            }
        }
    }

    &.mobile-search-open {
        .page-header__search-bar {
            &.search-bar {
                @include breakpoint(tablet) {
                    display: flex;
                }
            }
        }

        .page-header__mobile-search {

            @include breakpoint(tablet) {
                .icon-active {
                    opacity: 0;
                }

                .icon-close {
                    opacity: 1;
                }

                &.simple-btn--black {
                    background-color: var(--Light-Grey, #F2F2F2);

                    .icon-close {
                        fill: var(--Black, #141414);
                    }
                }
            }
        }
    }

    &.catalog-is-open {
        @extend .no-scroll;

        .page-header__catalog-open {
            @extend .catalog-btn--active;
        }

        .page-header__catalog {
            display: block;
        }
    }
}

[class*="__site-container"] {
    width: 100%;
    max-width: calc(var(--max-container-width) + 2 * var(--content-padding));
    margin: 0 auto;
    padding: 0 var(--content-padding);

    @supports (width: max(20vw, 100px)) {
        padding-left: max(env(safe-area-inset-left, 1.4rem), var(--content-padding));
        padding-right: max(env(safe-area-inset-right, 1.4rem), var(--content-padding));
    }
}

.page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.page-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.section {
    &:not(:first-child) {
        padding-block: 1.8rem;

        @include breakpointMF(laptop) {
            padding-block: 6.4rem;
        }
    }

    &.home {
        &+.section {
            @include breakpoint(tablet) {
                padding-block: 3.6rem 1.6rem;
            }
        }
    }

    &.section--double {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 6.4rem;
    }
}

._intro-padding-top {
    padding-top: var(--header-height);
}

.headline-1 {
    @include h1;
}

.headline-2 {
    @include h2;
}
