.visually-hidden {
    @include visuallyHidden();
}

[class] {
    &.display-none {
        display: none;
    }
}

.no-scroll {
    overflow-y: scroll;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    body {
        height: auto;
        overflow: hidden;
    }
}

.hide-on-mobile {
    @include breakpoint(mobile) {
        display: none !important;
    }
}

.show-on-mobile {
    @include breakpointMF(small-tablet) {
        display: none !important;
    }
}

._round-white-frame {
    @include breakpointMF(laptop) {
        padding: 3.6rem 2.4rem;
        background-color: var(--White, #FFF);
        border-radius: 2.4rem;
    }
}

._counter {
    display: inline-flex;

    &::before {
        content: "(";
    }

    &::after {
        content: ")";
    }
}
